[build]
  command = "npm install && npm run generate:notes && npm run generate:papers"
  publish = "."
  functions = "netlify/functions"

[[plugins]]
  package = "@netlify/plugin-functions-install-core"
